
.main-page {
  height: 100%;
  margin: 0;
  padding: 0;%;
}

#root {
  height: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px 0px 40px;
  background: url("http://res.cloudinary.com/aazaiez/image/upload/v1517609657/home_page_image_fxsxij.png") no-repeat center center fixed;
  color: white;
}

body , html {
  height: 100%;
}

.welcome-login-signup {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.welcome-login-signup a {
    margin: 10px;
    padding: 5px 13px 5px 13px;
}

.welcome-login-signup-effects:hover {
  border-bottom:1px solid #fff;
  cursor: pointer;
}


.home_page_signup {
  border: 1px solid white;
  border-radius: 5px;
}

.home_page_signup:hover {
  background: white;
  color: black;
  cursor: pointer;
}




.wheelio-homepage-link {
  display: flex;
  color: white;
  font-size: 38px;
  padding: 10px;
}

.wheelio-homepage-link div {
  padding: 20px;

}

.wheelio-logo-white {
  width: auto;
  height: 80px;
  margin-left: 15px;
}




html {
  /* background: url("http://res.cloudinary.com/aazaiez/image/upload/v1517609657/home_page_image_fxsxij.png") no-repeat center center fixed; */
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.homepage-wheelio-name {
  color: white;
  font-size: 28;
}

.homepage-questions{
  display: flex;
  align-items: center;
  flex-direction: column;
}



.homepage-questions li {
  font-size: 28px;
  padding: 10px;
  color: white;
  border-radius: 25px;
  box-sizing: border-box;
  margin: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}

.homepage-questions h1 {
  font-size: 45px;
}

.homepage-questions p {

}






.form-welcome-message{
  /* position: absolute; */
  /* left: 50%;
  background: blue; */
  text-align: center;
  font-size: 25px;
  color: black;
  font-family: 700px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.flex-box-welcome-message{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheelio-logo{

}


.homepage-search{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 100px auto 0 auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #fff3e6;
  vertical-align: middle;
  width: 540px;
  border-radius: 7px;
}

.search-input {
  background: white;
  font-size: 24px;
  height: 50px;
  width: 300px;
  color: grey;
  padding: 2px 20px 2px 20px ;
  text-align: center;
  border-radius: 3px
}

.homepage-search span{
  padding: 10px;
}

.session-form-container{
  width: 450px;
  margin: 50px auto;
}
.splash-page {
  height: 100%;
  background: url("http://res.cloudinary.com/aazaiez/image/upload/v1517609657/home_page_image_fxsxij.png") no-repeat center center fixed;
}


.session-form {
  vertical-align: middle;
  background: white;
  text-align: center;
  padding: 35px 40px 5px 40px;
}

.session-form input[type="text"], input[type="password"]{
  width: 63%;
  height: 30px;
  font-size: 14px;
  background: white;
  text-align: left;
  margin: 2px;

}

.session-form  input[type="submit"]{
  padding: 4px 12px 4px 12px;
  font-size: 18px;
  background: black;
  margin: 40px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.session-form  input[type="submit"]:hover {
  background: lightgrey;
  color: black;
  font-weight: 900px;
}


.form-login-signup-buttons {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 10px;
}

 .form-login-signup-buttons div {
   width: 200px;
   background: #990000;
   height: 25px;
   color: white;
 }

 .login-errors{
   width: 500px;
   color: white;
   text-align: left;
   margin-left: 20px;
   margin-bottom: 17px;
   height: 50px;
 }

 .login-inputs {
   display: flex;
   flex-direction: column;
   text-align: right;
 }

 .login-inputs label {
   margin: 1.5px;
   padding-right: 40px;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }

 .login-inputs input {
   /* padding-right: 10px; */
   padding:0 8px;
   border-bottom: 1px solid grey;
 }


 .alternative-option {
   font-size: 14px;
   color: grey;
   padding-top: 20px;
   text-align: right;
   margin-right: -25px;
   margin-bottom: 2px;
 }

 .alternative-option a {
   color: black;
   font-weight: 700;
   width: 55px;
 }

.guest-greeting{
  display: flex;
  align-items: center;
}

.guest-greeting button {
  margin: 10px;
  padding: 5px 13px 5px 13px;
}

.guest-greeting button:hover {
  border-bottom:1px solid #fff;
}


 .greeting {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   color: #3C1518;
   margin: 20px;
   font-size: 20px;
 }

 .description-title {
   padding: 10px 10px 0px 10px ;
   font-size: 30px;
   font-weight: 900;
   margin: 40px 0px 0px 0px;
 }

 .car-description {
   color: black;
   margin-bottom: 40px;
   padding: 5px 0px 40px 10px ;
   font-size: 18px;
 }


 .car-review-page {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   background: white;
   width: 100%;
   margin: 150px 0 0 0;
   height: 100%;
 }


 .car-title {
   color: black;
   font-size: 45px;
   padding: 40px 0px 30px 0px;
   margin: 0px 0px 0px 10px;
   font-weight: 900;
 }

 .car-images-and-stats-flex {
   display: flex;
   flex-direction: row;
   margin: -140px 0 120px 0;
   width: 100%;
 }

 .score-price-mpg-0to60-flex {
   color: black;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   margin: 40px 10px 10px -50px;
   width: 100%;
 }

.wrapper-padding {
  padding: 0px 400px 0px 400px;
  margin: -142px 0px 0px -50px;
}


 .price-component-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0px 20px 20px 0px;
 }

 .next-to-dollar-sign {
   display: flex;
   flex-direction: column;
 }


 .price-string {
   margin: 15px 0px 0px 10px;
   font-size: 20px;
   min-width: 137px;
   color: #4d4d4d;
 }

 .actual-price {
   padding: 0px 0px 10px 20px
 }

 .epa-component-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0px 0px 0px 0px;
 }

 .top-speed-component-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 17px 0px 0px 20px;
 }

.mpg-logo {
  width: 80px;
  height: auto;
}
 .next-to-mpg {
   display: flex;
   flex-direction: column;
 }

 .mpg-string {
   margin: 15px 0px 0px 10px;
   font-size: 20px;
   color: #4d4d4d;
 }

 .actual-mpg {
   padding: 0px 0px 10px 20px
 }

 .zeroto60-component-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0px 0px 0px 20px;
 }

 .next-to-zeroto60 {
   display: flex;
   flex-direction: column;
 }

 .zeroto60-string {
   margin: 15px 0px 0px 10px;
   font-size: 20px;
   color: #4d4d4d;
 }

 .actual-zeroto60 {
   padding: 0px 0px 10px 20px
 }

 .next-to-top_speed {
   display: flex;
   flex-direction: column;
 }

 .top_speed-string {
   margin: 15px 0px 0px 10px;
   font-size: 20px;
   color: #4d4d4d;
 }



 .wheelio-score-component-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 40px 0px 0px 0px;
 }

 .next-to-wheelio-logo {
   display: flex;
   flex-direction: column;
 }


  .average-car-score-string {
   font-size: 30px;
   margin: 70px 0px 0px 10px;
   color: #4d4d4d;
  }

 .actual-car-score {
   margin: -10px 0px 60px 40px;
   font-size: 40px;
   font-weight: 900px;
 }


  .wheelio-logo-black {
    width: 140px;
    height: auto;
  }









 .actual-top_speed {
   padding: 0px 0px 10px 20px
 }

 .stats-flex {
  display: flex;
  flex-direction: row;
 }






 #gallerywrapper {
    display: flex;
    width:auto;
    height:450px;
    margin: 50px 10px 50px 0px;
    position:relative;
    flex: 1;
    font-family:verdana, arial, sans-serif;
}


.car-images {
  display: flex;
  height: 450px;
  width:auto;
  margin: 20px;
  flex: 1;
  margin: 50px 0px 30px 10px;
}


#gallerywrapper #gallery {
    width:auto;
    overflow:hidden;
    text-align:center;
    height: 540px;
    display: flex;
    width: 100%;
    flex:1;
}

#gallerywrapper #gallery div {
    width:640px; height:900px;
    padding:30px 30px 0 0;
    position:relative;
}

#gallerywrapper #gallery div img {
    clear:both;
    display:block;
    margin: 20px 20px 20px 0px auto;
    border:0;
}

#gallerywrapper #gallery div h3 {
    padding:10px 0 0 0;
    margin:0;
    font-size:18px;
}

#gallerywrapper #gallery div p {
    padding:5px 0;
    margin:0;
    font-size:12px;
    line-height:18px;
}

#pic1:hover .previous{
  display: inline;
}

#pic1:hover .next{
  display: inline;
}

#gallery .previous{
  float:left;
  margin: -270px 0px 50px 18px;

  display:none;
  text-decoration:none;
  z-index: 1;
  position:relative;
  color:#b3b3b3;
  transform: scale(1.5,3);
  opacity: 0.3;
  background: black;

}

#gallery .previous:hover{
  color:white;
  opacity: 100;
  background: transparent;
}

#gallery .next{
    display:none;
    float:right;
    margin: -270px 38px 0px 0px;
    text-decoration:none;
    z-index: 1;
    position:relative;
    color:#b3b3b3;
    transform: scale(1.5,3);
    opacity: 0.3;
    background: black;
}


#gallery .next:hover{
  color:white;
  opacity: 100;
  background: transparent;
}

.SEE-ME {
  color: black;
  font-size: 40px;
}

.write-review-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}

.submit-review {
  border: 1px solid black;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin: 0px 10px 0px 0px;
  background: black;
  color: white;
}

.submit-review:hover {
  cursor: pointer;
  background: grey;
  color: black;
}

.review-content-flex {
  display: inline-flex;
  flex-direction: row;
  border-top:1px solid #b3b3b3;
  margin-bottom: 20px;
  width: 100%;
}

.review-content {
  margin: 20px 0px 0px 0px;
  width: 100%;
}
.review-rating-flex{
  display: flex;
  flex-direction: column;
  margin: 20px 5px 5px 5px;
  padding: 10px 20px 5px 0px;
}

.reviewer-corner {
  margin: 20px 5px 5px 10px;
  border-right:1px solid #b3b3b3;
  padding: 10px 25px 5px 10px;
  min-width: 140px;
}

.reviewer-name {
  font-size: 18px;
  font-weight: 900;
}

.rating-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px 0px 10px 0px;
}

.review-button {
  border: 1px solid lightgrey;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 0px 0px;
  background: #f2f2f2;
  color: #333333;
  border-radius: 5px;
  display: inline-block;
  width: 60px;
  font-weight: bold;
  font-size: 14px;

}

.review-button:hover {
  background: white;
  cursor: pointer;
  color: black;
}


.reaction-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0px 0px 0px;
}

.description-reviews-wrap {
  width: 100%;
}

.post-review-page {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: white;
  width: 100%;
  height: 100%;
  margin: 150px 0 0 0;
}

.post-review-wrapper-padding {
    padding: 0px 400px 0px 400px;
    margin: -142px 0px 0px -50px;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.review-form {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 750px;
  padding: 20px 0px 0 0px;
}

.review-form-title {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 35px;
}

.review-form-rating {
  font-size: 22px;
  margin: 5px 10px 20px 0;
}

.review-form-rating input{
  font-size: 20px;
  margin-left: 5px;
  border: 1px solid lightgrey;
  width: 60px;
  text-align: center;
  -webkit-appearance: none;
  padding: 5px 0 5px 0;


}


.review-submit-content textarea{
  white-space: pre-line;
  white-space: pre-wrap;
  width: 900px;
  height: 300px;
  border: 1px solid lightgrey;
  padding: 5px;
}

.review-submit-button {
  background: blue;
  width: 912px;
  margin: 20px 0 0 0;
  text-align: center;
  height: 50px;
  line-height: 50px;
  vertical-align: center;
  font-size: 20px;
  background: black;
  color: white;
}

.review-submit-button:hover {
  background: #0d0d0d;
  color: white;
  font-weight: 900;
}




.edit-review {
  border: 1px solid black;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 0px 0px;
  background: black;
  color: white;
}

.edit-review:hover {
  cursor: pointer;
  background: grey;
  color: white;
}

.delete-review {
  border: 1px solid black;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 0px 0px;
  background: black;
  color: white;
}

.delete-review:hover {
  cursor: pointer;
  background: grey;
  color: white;
}

.optional-buttons-flex {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.review-form-errors {
    width: 800px;
    color: red;
    text-align: left;
    margin-bottom: 80px;
    height: 50px;
}


.search-stuff {
  color: red;
  font-size: 30;
}



.search-stuff input {
  background: white;
  font-size: 30;
  margin-left: 30px;
}


.car-search-wrapper-padding {
    padding: 0px 400px 0px 400px;
    margin: 100px 0px 0px -50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background: white;
}

.car-search-titles{
  color: black;
  font-size: 40px;
}

.submit-to-hide {
  display: none;
}

.search-item-container {
  display: inline-flex;
  flex-direction: row;
  border-bottom:1px solid #b3b3b3;
  margin-bottom: 20px;
  width: 100%;
  padding-top: 20px;
}
.car-images-search {
  height: 200px;
  width: auto;
}

.search-result-car-wrapper {
  margin-top: 20px;
}
