.main-page {

}

.nav-bar {
  background-color: #990000;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}


.welcome-login-signup {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.welcome-login-signup a {
  padding-left: 20px;
}

.welcome-login-signup-effects a {
  border: 3px solid #b30000;
}

.welcome-login-signup-effects:hover {
  color: #ffecb3;
}



.wheelio-homepage-link {
  color: white;
  font-size: 38px;
}

.wheelio-homepage-link:hover {
  color: #ffecb3;
}



.splash-page{
  font-size: 50px;
}

.homepage-questions{
  display: flex;
  justify-content: center;
  padding: 20px 10px 40px 10px;
  /* width: 700px; */
  font-size: 25px;
}

.hp-question {

  width: 400px;
  padding: 20px;
  color: #404040;
  border: 6px solid #660000 ;
  border-radius: 25px;
  box-sizing: border-box;
  margin: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-welcome-message{
  /* position: absolute; */
  /* left: 50%;
  background: blue; */
  text-align: center;
  font-size: 25px;
  color: #b30000;
  font-family: 700px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.welcome-message{
  /* position: absolute; */
  /* left: 50%;
  background: blue; */
  text-align: center;
  font-size: 60px;
  color: #b30000;
  font-family: 700px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.homepage-search{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #660000 ;

  vertical-align: middle;
}

.search-input {
  background: #fff3e6;
  font-size: 20px;
  width: 300px;
  height: 40px;

}
.session-form-container{
  width: 450px;
  margin: 50px auto;
  border: 3px solid #990000;
}
.session-form {
  vertical-align: middle;
  background: white;
  text-align: center;
  padding: 35px 40px 5px 40px;
  background: #fff3e6;
}

.session-form input[type="text"], input[type="password"]{
  width: 63%;
  height: 30px;
  font-size: 14px;
  background: white;
  text-align: left;
  margin: 2px;

}

.session-form  input[type="submit"]{
  padding: 1px 3px 1px 3px;
  font-size: 14px;
  width: 50px;
  background: #620000;
  margin: 20px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 7px;
}

.session-form  input[type="submit"]:hover {
  background: white;
  color: #620000;
  font-weight: 900px;
}


.form-login-signup-buttons {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 10px;
}

 .form-login-signup-buttons div {
   width: 200px;
   background: #990000;
   height: 25px;
   color: white;
 }

 .login-errors{
   width: 500px;
   color: red;
   text-align: left;
   margin-left: 20px;
   margin-bottom: 17px;
   height: 50px;
 }

 .login-inputs {
   display: flex;
   flex-direction: column;
   text-align: right;
 }

 .login-inputs label {
   margin: 1.5px;
   padding-right: 40px;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }

 .login-inputs input {
   /* padding-right: 10px; */
   padding:0 8px;
 }


 .alternative-option {
   font-size: 14px;
   color: grey;
   padding-top: 20px;
   text-align: right;
   margin-right: -35px;
 }

 .alternative-option a {
   color: #BE5A38;
   font-weight: 700;
   width: 50px;
 }



 .greeting {
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   color: #3C1518;
   margin-bottom: 20px;
   font-size: 20px;
 }
