<!DOCTYPE html>
<html>
  <head>
    <title>Wheelio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="shortcut icon" href="http://res.cloudinary.com/aazaiez/image/upload/v1520291842/wheelio_black_logo_zwheh6_o9rxwz.png" type="image/x-icon" />



  </head>

  <body>
    <%= yield %>
  </body>
</html>
